APPLICATION_PORT_NUMBER = 4700
APPLICATION_HOST_NAME = "http://localhost:4700"
APPLICATION_BASE_URL =	"/dhiti/api/"
NODE_ENV = "local"
APIDOC_URL = "/apidoc"
APIDOC_PATH	= "/public/apidoc"

# file_path
USER_NEVER_LOGGED_IN = "01300878319924019218076/users_never_logged_in.json"
UNIQUE_ACTIVE_USERS	= "01300878319924019218076/app_usage.json"
TOP_SCORE_QUIZ = "01300878319924019218076/top_scorers_quiz.json"
CONTENT_RATINGS = "01300878319924019218076/top_five_content_ratings.json"
MAP_DATA_RESOURCES = "01300878319924019218076/resource_usage.json"
LOGIN_TREND = "01300878319924019218076/logging_trend_last_1_month.json"
LOGIN_PERCENTAGE = "01300878319924019218076/users_usage.json"
LEARNING_TOP_SCORE_QUIZ = "01300878319924019218076/top_scorers_quiz_percentage.json"
PARTICIPATION_PERCENTAGE = "01300878319924019218076/group_participation_percentage.json"
LAST_UPDATED_DATE = "01300878319924019218076/last_updated_date.json"
DAILY_AVERAGE_GROWTH = "01300878319924019218076/daily_activity_trend.json"
COUNT_CONTENT_RATING = "01300878319924019218076/count_content_ratings_with_avg.json"
AVERAGE_TIME_SPENT = "01300878319924019218076/avg_timespent.json"
AVERAGE_RATING_CONTENT = "01300878319924019218076/top_content_ratings.json"
APP_COUNT = "01300878319924019218076/daily_distinct_users_trend.json"
ADOPTION_CONTENT = "01300878319924019218076/user_content_watch.json"
MULTI_RESOURCE = "01300878319924019218076/user_content_watch.json"
MULTI_SELECTION = "01300878319924019218076/logging_trend_last_1_month.json"

CLOUD_STORAGE = "AWS/GC/AZURE"
BUCKET_NAME = "BUCKET_NAME"	

# cassandra
CASSANDR_HOST =	"CASSANDR_HOST_IP_ADDRESS"
CASSANDRA_KEYSPACE = "CASSANDRA_KEYSPACE_NAME"
CASSANDRA_PORT = "CASSANDRA_PORT"
CASSANDRA_TABLE = "CASSANDRA_TABLE"	
CASSANDRA_API_REQ_AND_RES_TABLE = "OBSERVATION_API_REQUEST_RESPONSE_TABLE"	
CASSANDRA_ASSESSMENT_TABLE = "ASSESSMENT_API_REQUEST_RESPONSE_TABLE"

#mongodb
MONGODB_HOST = "mongodb://localhost"
MONGODB_PORT = 27017
MONGODB_DATABASE = "DATABASE_NAME"
MONGODB_MIGRATION_COLLECTION = "COLLECTION_NAME"
MONGODB_MIGRATION_DIR =

#evidence
EVIDENCE_THRESHOLD = 3

#keycloak
sunbird_keycloak_auth_server_url = 	
sunbird_keycloak_realm = 	
sunbird_keycloak_client_id = 	
sunbird_keycloak_public = true
sunbird_cache_store = 	
sunbird_cache_ttl = 1800

#samiksha_api
SAMIKSHA_ASSESSMENT_ENTITY_LIST_API = "http://localhost:4201/assessment/api/v1/entities/list/"
SAMIKSHA_OBSERVATION_DETAILS_API = "http://localhost:4201/assessment/api/v1/observations/details/"
SAMIKSHA_GET_USER_PROFILE_API =	"http://localhost:4201/assessment/api/v1/userExtension/getProfile"
SAMIKSHA_GET_SURVEY_SUBMISSION_STATUS_API = "http://localhost:4201/assessment/api/v1/surveySubmissions/getStatus"
SAMIKSHA_GET_OBSERVATION_SUBMISSION_STATUS_API = "http://localhost:4201/assessment/api/v1/observationSubmissions/getSubmissionStatusById"
SAMIKSHA_GET_ENTITY_OBSERVATION_SUBMISSIONS_STATUS = "http://localhost:4201/assessment/api/v1/observations/submissionStatus"

#kendra
KENDRA_GCP_DOWNLOADABLE_FILE_URL_API = "http://localhost:7001/kendra/api/v1/cloud-services/gcp/getDownloadableUrl"
KENDRA_AZURE_DOWNLOADABLE_FILE_URL_API = "http://localhost:7001/kendra/api/v1/cloud-services/azure/getDownloadableUrl"
KENDRA_AWS_DOWNLOADABLE_FILE_URL_API = "http://localhost:7001/kendra/api/v1/cloud-services/aws/getDownloadableUrl"
KENDRA_GCP_UPLOAD_FILE_API = "http://localhost:7001/kendra/api/v1/cloud-services/gcp/uploadFile"
KENDRA_AZURE_UPLOAD_FILE_API = "http://localhost:7001/kendra/api/v1/cloud-services/azure/upload"
KENDRA_AWS_UPLOAD_FILE_API = "http://localhost:7001/kendra/api/v1/cloud-services/aws/uploadFile"

#s3_credentials
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION
AWS_SIGNED_URL_EXPIRE_SECONDS
AWS_BUCKET_NAME
STORE_PDF_REPORTS_IN_AWS_ON_OFF

VALIDATE_ACCESS_TOKEN_OFFLINE = "ON/OFF"
KEYCLOAK_PUBLIC_KEY_PATH = "keycloak-public-keys"