APPLICATION_PORT_NUMBER = 4700
APPLICATION_HOST_NAME = "http://localhost:4700"
APPLICATION_BASE_URL =	"/dhiti/api/"
NODE_ENV = "local"
APIDOC_URL = "/apidoc"
APIDOC_PATH	= "/public/apidoc"

#CLOUD STORAGE
CLOUD_STORAGE = "AWS/GC/AZURE"
BUCKET_NAME = "BUCKET_NAME"	


#Druid configuration
DRUID_HOST = "http://localhost"
DRUID_PORT = "8082"
OBSERVATION_DATASOURCE_NAME = "OBSERVATION_DATASOURCE_NAME"
OBSERVATION_EVIDENCE_DATASOURCE_NAME = "EVIDENCE_DATASOURCE_NAME"
ASSESSMENT_DATASOURCE_NAME = "ASSESSMENT_DATASOURCE_NAME"
ENROLLMENT_DATASOURCE_NAME = "ENROLLMENT_DATASOURCE_NAME"
TELEMETRY_DATASOURCE_NAME = "TELEMETRY_DATASOURCE_NAME"
SURVEY_DATASOURCE_NAME = "SURVEY_DATASOURCE_NAME"
SURVEY_EVIDENCE_DATASOURCE_NAME = "SURVEY_EVIDENCE_DATASOURCE_NAME"
CONTENT_REPORT_THRESHOLD = 5
ENTITY_SCORE_REPORT_THRESHOLD = 5
OBSERVATION_SCORE_REPORT_THRESHOLD = 2
ASSESSMENT_SUBMISSION_REPORT_THRESHOLD = 3
EVIDENCE_THRESHOLD = 3

# cassandra
CASSANDR_HOST =	"CASSANDR_HOST_IP_ADDRESS"
CASSANDRA_KEYSPACE = "CASSANDRA_KEYSPACE_NAME"
CASSANDRA_PORT = "CASSANDRA_PORT"
CASSANDRA_TABLE = "CASSANDRA_TABLE"	
CASSANDRA_API_REQ_AND_RES_TABLE = "OBSERVATION_API_REQUEST_RESPONSE_TABLE"	
CASSANDRA_ASSESSMENT_TABLE = "ASSESSMENT_API_REQUEST_RESPONSE_TABLE"

#mongodb
MONGODB_URL = "mongodb://localhost:27017"
MONGODB_DATABASE = "DATABASE_NAME"
MONGODB_MIGRATION_COLLECTION = "COLLECTION_NAME"
MONGODB_MIGRATION_DIR = ""

#Highchart configuration
HIGHCHART_URL = "http://localhost:8889"

#Gotenberg configuration
GOTENBERG_URL = "http://localhost:3000/convert/html"

# Auth Config
sunbird_keycloak_auth_server_url="https://dev.shikshalokam.org/auth"
sunbird_keycloak_realm="sunbird"
sunbird_keycloak_client_id="portal"
sunbird_keycloak_public=true
sunbird_cache_store="memory"
sunbird_cache_ttl=1800

URL_PREFIX = "api/v1"

#KENDRA service
ASSESSMENT_SERVICE_APPLICATION_ENDPOINT = "http://localhost:4201"
ASSESSMENT_SERVICE_BASE_URL = "/assessment/"

#KENDRA service
KENDRA_APPLICATION_ENDPOINT = "http://localhost:4202"
KENDRA_BASE_URL = "/kendra/"

#s3_credentials
AWS_ACCESS_KEY_ID = "AK...........WA"
AWS_SECRET_ACCESS_KEY = "QB......................9sB"
AWS_REGION = ""
AWS_SIGNED_URL_EXPIRE_SECONDS = 300
AWS_BUCKET_NAME = ""
STORE_PDF_REPORTS_IN_AWS_ON_OFF = "ON/OFF"

VALIDATE_ACCESS_TOKEN_OFFLINE = "ON/OFF"
KEYCLOAK_PUBLIC_KEY_PATH = "keycloak-public-keys"

# FILE PATHS FOR PORTAL REPORTS
USER_NEVER_LOGGED_IN = "01300878319924019218076/users_never_logged_in.json"
UNIQUE_ACTIVE_USERS	= "01300878319924019218076/app_usage.json"
TOP_SCORE_QUIZ = "01300878319924019218076/top_scorers_quiz.json"
CONTENT_RATINGS = "01300878319924019218076/top_five_content_ratings.json"
MAP_DATA_RESOURCES = "01300878319924019218076/resource_usage.json"
LOGIN_TREND = "01300878319924019218076/logging_trend_last_1_month.json"
LOGIN_PERCENTAGE = "01300878319924019218076/users_usage.json"
LEARNING_TOP_SCORE_QUIZ = "01300878319924019218076/top_scorers_quiz_percentage.json"
PARTICIPATION_PERCENTAGE = "01300878319924019218076/group_participation_percentage.json"
LAST_UPDATED_DATE = "01300878319924019218076/last_updated_date.json"
DAILY_AVERAGE_GROWTH = "01300878319924019218076/daily_activity_trend.json"
COUNT_CONTENT_RATING = "01300878319924019218076/count_content_ratings_with_avg.json"
AVERAGE_TIME_SPENT = "01300878319924019218076/avg_timespent.json"
AVERAGE_RATING_CONTENT = "01300878319924019218076/top_content_ratings.json"
APP_COUNT = "01300878319924019218076/daily_distinct_users_trend.json"
ADOPTION_CONTENT = "01300878319924019218076/user_content_watch.json"
MULTI_RESOURCE = "01300878319924019218076/user_content_watch.json"
MULTI_SELECTION = "01300878319924019218076/logging_trend_last_1_month.json"