<html>
    <head>
        <style>
            .assessment-header {
                text-align: center;
                font-size: 12rem;
                font-weight: 600;
                border-bottom: 1px solid #ccc;
                width: 100%;
                color: rgb(207, 207, 230);
                
            }
        </style>
    
            <h4 class="col-sm-12 assessment-header"><%=  data.assessmentName %></h4>
    </head>
    
    <!-- <body>
        <p>
            <span style="float: right;" class="pageNumber"></span> of <span class="totalPages"></span>
        </p>
    </body> -->
</html>