<html>
    <head>
        <style>
            body {
                font-size: 10rem;
                margin: 4rem auto;
            }
        </style>
    
            <h2 class="col-sm-12" style="text-align: center;color:blue"><%=  data.observationName %></h2>
    </head>
    <!-- <body>
        <p>
            <span style="float: right;" class="pageNumber"></span> of <span class="totalPages"></span>
        </p>
    </body> -->
</html>