<html>

        <head>
      
            <link rel="stylesheet" type="text/css" href="style.css">
      
          </head>
      
          <body>
      
          <div style="margin-top: 30px">
           
            <span style="text-align:center"><img src="<%= data %>"></span>

            
            <%- include('assessment_criteria_listing', {assessmentRes: assessmentData}); %>
            
      
      </div> 
      
      </body>
      
      </html>
      
      