{ 
   "application_port_number":4700,
   "cassandra":{ 
      "host":"CASSANDR_HOST_IP_ADDRESS",
      "keyspace":"CASSANDRA_KEYSPACE_NAME",
      "port":"CASSANDRA_PORT",
      "table":"CASSANDRA_TABLE",
      "apiReqAndResTable":"OBSERVATION_API_REQUEST_RESPONSE_TABLE",
      "assessmentTable": "ASSESSMENT_API_REQUEST_RESPONSE_TABLE"
  },

  "druid": {
  "options" : {
    "method": "",
    "json": true,
    "body": "",
    "headers": {
        "Content-Type": "application/json"
    },
    "url": "http://DRUID_IP_ADDRESS:PORT/druid/v2/?pretty"
 },

 "observation_datasource_name": "OBSERVATION_DATASOURCE_NAME",
 "assessment_datasource_name": "ASSESSMENT_DATASOURCE_NAME",
 "enrollment_datasource_name": "ENROLLMENT_DATASOURCE_NAME",
 "telemetry_datasource_name": "TELEMETRY_DATASOURCE_NAME",
 "threshold_in_content_api" : 5,
 "threshold_in_entity_score_api": 5
 "threshold_in_observation_score_api": 2
},

 "keycloak": {
    "sunbird_keycloak_auth_server_url": "",
    "sunbird_keycloak_realm": "",
    "sunbird_keycloak_client_id": "",
    "sunbird_keycloak_public": true,
    "sunbird_cache_store": "",
    "sunbird_cache_ttl": 1800
 },
    "samiksha_api": {
       "assessment_entity_list_api":"SAMIKSHA_ASSESSMENT_ENTITY_LIST_API",
       "observation_details_api":"SAMIKSHA_OBSERVATION_DETAILS_API"
    },
    
 "optionsHtmlToPdf":{ 
      "method":"POST",
      "uri":"",
      "headers":{ 
         "Content-Type":"application/x-www-form-urlencoded"
      },
      "resolveWithFullResponse":true,
      "encoding":null,
      "json":true,
      "formData":""
   },
   "s3_credentials":{ 
      "accessKeyId":"",
      "secretAccessKey":"",
      "region":""
   },
   "s3_signed_url_expire_seconds":300,
   "s3_bucketName":"",
   "high_chart":{ 
      "url":"",
      "headers":{ 
         "Content-Type":"application/json"
      }
   }
}  
