{ 
   "application_port_number":4700,
   "application_host_name": "http://localhost:4201",
   "application_base_url":"/dhiti/api/",
   "node_env": "local",
   "apidoc_url": "/apidoc",
   "apidoc_path":"/public/apidoc",
   "file_path": {
        "userNeverLoggedIn": "01300878319924019218076/users_never_logged_in.json",
        "uniqueActiveUsers": "01300878319924019218076/app_usage.json",
        "topScoreQuiz": "01300878319924019218076/top_scorers_quiz.json",
        "topFiveContentRatings": "01300878319924019218076/top_five_content_ratings.json",
        "mapDataResources": "01300878319924019218076/resource_usage.json",
        "loginTrend": "01300878319924019218076/logging_trend_last_1_month.json",
        "loginPercentage": "01300878319924019218076/users_usage.json",
        "learningTopscoreQuiz": "01300878319924019218076/top_scorers_quiz_percentage.json",
        "participationPercentage": "01300878319924019218076/group_participation_percentage.json",
        "lastUpdatedDate": "01300878319924019218076/last_updated_date.json",
        "dailyAverageGrowth": "01300878319924019218076/daily_activity_trend.json",
        "countContentRating": "01300878319924019218076/count_content_ratings_with_avg.json",
        "averageTimeSpent": "01300878319924019218076/avg_timespent.json",
        "averageRatingContent": "01300878319924019218076/top_content_ratings.json",
        "appCount": "01300878319924019218076/daily_distinct_users_trend.json",
        "adoptionContent": "01300878319924019218076/user_content_watch.json",
        "multiResource": "01300878319924019218076/user_content_watch.json",
        "multiSelection": "01300878319924019218076/logging_trend_last_1_month.json"
   },
   "cloud_storage" : "AWS/GC/AZURE",
   "bucket_name": "BUCKET_NAME",
   
   "cassandra":{ 
      "host":"CASSANDR_HOST_IP_ADDRESS",
      "keyspace":"CASSANDRA_KEYSPACE_NAME",
      "port":"CASSANDRA_PORT",
      "table":"CASSANDRA_TABLE",
      "apiReqAndResTable":"OBSERVATION_API_REQUEST_RESPONSE_TABLE",
      "assessmentTable": "ASSESSMENT_API_REQUEST_RESPONSE_TABLE",
  },

   "mongodb":{
        "url":"MONGO_URL",
        "db":"DATABASE_NAME",
        "migration_collection":"COLLECTION_NAME",
        "migration_dir":""
  },

  "druid": {
  "options" : {
    "method": "",
    "json": true,
    "body": "",
    "headers": {
        "Content-Type": "application/json"
    },
    "url": "http://DRUID_IP_ADDRESS:PORT/druid/v2/?pretty"
 },

 "observation_datasource_name": "OBSERVATION_DATASOURCE_NAME",
 "assessment_datasource_name": "ASSESSMENT_DATASOURCE_NAME",
 "enrollment_datasource_name": "ENROLLMENT_DATASOURCE_NAME",
 "telemetry_datasource_name": "TELEMETRY_DATASOURCE_NAME",
 "evidence_datasource_name": "EVIDENCE_DATASOURCE_NAME",
 "survey_datasource_name": "SURVEY_DATASOURCE_NAME",
 "survey_evidence_datasource_name" : "SURVEY_EVIDENCE_DATASOURCE_NAME",
 "threshold_in_content_api" : 5,
 "threshold_in_entity_score_api": 5
 "threshold_in_observation_score_api": 2,
 "no_of_assessment_submissions_threshold": 3
},
 
  "evidence" : {
        "evidence_threshold": 3
    },

 "keycloak": {
    "sunbird_keycloak_auth_server_url": "",
    "sunbird_keycloak_realm": "",
    "sunbird_keycloak_client_id": "",
    "sunbird_keycloak_public": true,
    "sunbird_cache_store": "",
    "sunbird_cache_ttl": 1800
 },
    "samiksha_api": {
       "assessment_entity_list_api":"http://localhost:4201/assessment/api/v1/entities/list/",
       "observation_details_api":"http://localhost:4201/assessment/api/v1/observations/details/",
       "get_user_profile_api": "http://localhost:4201/assessment/api/v1/userExtension/getProfile",
       "get_survey_submission_status_api": "http://localhost:4201/assessment/api/v1/surveySubmissions/getStatus",
       "get_observation_submission_status_api": "http://localhost:4201/assessment/api/v1/observationSubmissions/getSubmissionStatusById",
       "get_entity_observation_submissions_status" : "http://localhost:4201/assessment/api/v1/observations/submissionStatus",
    },
    
     "kendra" : {
         "gcp_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/gcp/getDownloadableUrl",
         "azure_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/azure/getDownloadableUrl",
         "aws_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/aws/getDownloadableUrl"
    },

 "optionsHtmlToPdf":{ 
      "method":"POST",
      "uri":"",
      "headers":{ 
         "Content-Type":"application/x-www-form-urlencoded"
      },
      "resolveWithFullResponse":true,
      "encoding":null,
      "json":true,
      "formData":""
   },
   "s3_credentials":{ 
      "accessKeyId":"",
      "secretAccessKey":"",
      "region":""
   },
   "s3_signed_url_expire_seconds":300,
   "s3_bucketName":"",
   "store_pdf_reports_in_s3_on_off" : "ON/OFF",
   "high_chart":{ 
      "url":"",
      "headers":{ 
         "Content-Type":"application/json"
      }
   },
    "validate_access_token_offline" : "ON/OFF",
    "keycloak_public_key_path" : "keycloak-public-keys"
}