{ 
   "application_port_number":4700,
   "application_base_url":"/dhiti/api/",
   "node_env": "local",
   "apidoc_url": "/apidoc",
   "apidoc_path":"/public/apidoc",

   "cloud_storage" : "AWS/GC/AZURE",
   "bucket_name": "BUCKET_NAME",
   
   "cassandra":{ 
      "host":"CASSANDR_HOST_IP_ADDRESS",
      "keyspace":"CASSANDRA_KEYSPACE_NAME",
      "port":"CASSANDRA_PORT",
      "table":"CASSANDRA_TABLE",
      "apiReqAndResTable":"OBSERVATION_API_REQUEST_RESPONSE_TABLE",
      "assessmentTable": "ASSESSMENT_API_REQUEST_RESPONSE_TABLE",
  },

   "mongodb":{
        "url":"MONGO_URL",
        "db":"DATABASE_NAME",
        "migration_collection":"COLLECTION_NAME",
        "migration_dir":""
  },

  "druid": {
  "options" : {
    "method": "",
    "json": true,
    "body": "",
    "headers": {
        "Content-Type": "application/json"
    },
    "url": "http://DRUID_IP_ADDRESS:PORT/druid/v2/?pretty"
 },

 "observation_datasource_name": "OBSERVATION_DATASOURCE_NAME",
 "assessment_datasource_name": "ASSESSMENT_DATASOURCE_NAME",
 "enrollment_datasource_name": "ENROLLMENT_DATASOURCE_NAME",
 "telemetry_datasource_name": "TELEMETRY_DATASOURCE_NAME",
 "evidence_datasource_name": "EVIDENCE_DATASOURCE_NAME",
 "threshold_in_content_api" : 5,
 "threshold_in_entity_score_api": 5
 "threshold_in_observation_score_api": 2,
 "no_of_assessment_submissions_threshold": 3
},
 
  "evidence" : {
        "evidence_threshold": 3
    },

 "keycloak": {
    "sunbird_keycloak_auth_server_url": "",
    "sunbird_keycloak_realm": "",
    "sunbird_keycloak_client_id": "",
    "sunbird_keycloak_public": true,
    "sunbird_cache_store": "",
    "sunbird_cache_ttl": 1800
 },
    "samiksha_api": {
       "assessment_entity_list_api":"http://localhost:4201/assessment/api/v1/entities/list/",
       "observation_details_api":"http://localhost:4201/assessment/api/v1/observations/details/",
       "get_user_profile_api": "http://localhost:4201/assessment/api/v1/userExtension/getProfile"
    },
    
     "kendra" : {
         "gcp_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/gcp/getDownloadableUrl",
         "azure_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/azure/getDownloadableUrl",
         "aws_downloadable_file_url_api": "http://localhost:7001/kendra/api/v1/cloud-services/aws/getDownloadableUrl"
    },

 "optionsHtmlToPdf":{ 
      "method":"POST",
      "uri":"",
      "headers":{ 
         "Content-Type":"application/x-www-form-urlencoded"
      },
      "resolveWithFullResponse":true,
      "encoding":null,
      "json":true,
      "formData":""
   },
   "s3_credentials":{ 
      "accessKeyId":"",
      "secretAccessKey":"",
      "region":""
   },
   "s3_signed_url_expire_seconds":300,
   "s3_bucketName":"",
   "store_pdf_reports_in_s3_on_off" : "ON/OFF",
   "high_chart":{ 
      "url":"",
      "headers":{ 
         "Content-Type":"application/json"
      }
   }
}  
